html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'roboto', helvetica, arial, sans-serif;
}

main {
  padding: 40px;
  font-size: 1.4em;

  a {
    color: #0c0c0c;
    text-decoration: none;
    border-bottom: 2px solid #666;
  }

  p {
    margin-bottom: 32px;
  }

  h1 {
    margin: 0 0 16px;
    font-size: 2.4em;

    a {
      border-bottom: none;
      text-decoration: none;
      font-weight: 700;
      font-family: helvetica neue, arial, sans-serif;
    }
  }

  h4 {
    margin: 0 0 8px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 8px;
    }
  }

  #social {
    margin-top: 32px;
  }
}